body {
    background-color: steelblue
}

h1 {
    color: azure;
}

p {
    color: azure;
}

img {
    border-style: dotted;
    border-width: 10px;
    border-color: papayawhip;
}

img:hover {
    border-style: groove;
    border-color: red;
}

a {
    color: aliceblue;
    font-size: x-large
}

#main-nav {
    background-color: thistle;
    text-align: center;
    padding: 10px;

}

#main-nav a {
    font-size: 30px;
    color: black;
    margin: 15px;
}

#main-nav a:hover {
    text-decoration: line-through;
    color: aliceblue;
}